# PostgreSQL Database Connection String
# Format: postgresql://[user]:[password]@[host]:[port]/[dbname]

DATABASE_URL="postgresql://username:password@hostname:5432/database_name"

WHO_CLIENT_ID="your_who_client_id_here"
WHO_CLIENT_SECRET="your_who_client_secret_here"
