# PostgreSQL Database Connection String
# Format: postgresql://[user]:[password]@[host]:[port]/[dbname]

DATABASE_URL="postgresql://ayurlink_user:mX0SCOfKLFR6t7RkAHok2SkkTC4OWgPC@dpg-d5suqoruibrs73ei8jtg-a/ayurlink_db"

WHO_CLIENT_ID="898caad4-8119-4da8-a897-d297dfb955d3_7eb08efd-4c1a-423b-b6a6-fe15e41efe75"
WHO_CLIENT_SECRET="9OU0Md9RHdok2/PudOJ3idlJa1pxGkQypYpAbEZS5vQ="